<!DOCTYPE html>
<html>
  <head> 
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
       <link rel="stylesheet" href="../CSS/styles.css"/>
       <link rel="stylesheet" href="../CSS/font-awesome.min.css"/>
       <link rel="stylesheet" href="../CSS/font-awesome.css"/> 
       <title> Web fundamentals  </title>
  </head>
  <body > 
    <div id="back">
      <!-- main -->
       <header id ="entete"> 
           <div class="logo"><img src="../images/logo.png" > </div>
              <h1 >Web fundamentals</h1>
              <nav id="menu">
                 <ul id="main">
                   <li> <a href="How" name="top">  The Internet </a></li>
                   <li><a href="NeedtoBe">what do you need to be a developer ?</a></li>
                   <li><a href="roleOf">  SKILLS</a>
                   </li>
                 </ul>
               </nav> 
       </header>
    <!-- main -->
       <main > 
         <!-- nav -->
         <nav id="connect">
            <div class="form__group">
              <form>
               <input type="email" class="form__input" id="name" placeholder="email" required="" />
               <label for="name" class="form__label">email</label>
               <input type="password" id="password" required placeholder="Password" class="form__input"/>
               <label for="password" class="form__label"  > Password:</label>
               <div class="wrapper">
                   <button aria-required="true">
                      Log in 
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div> 
              </form> 
           </div> 
           <div class="group">
             <input type="text" placeholder="Search.." class="search" >
             <input type="image" id="image" alt="search"
               src="../images/search.png" >
           </div>
          </nav> 
           </br>
           </br>
           <hr>
          <div id ="contenu"> 
           <div class="formulaire" >
            <div class="container">
              <div>
                <h4 class="title">Subscribe</h4>
                <form>
                  <div class="omrs-input-group">
                    <label class="omrs-input-underlined">
                      <input required>
                      <span class="omrs-input-label">First Name</span>
                      <span class="omrs-input-helper">over than 8 characters</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"/></svg>
                    </label>
                  </div>
                <div class="omrs-input-group">
                    <label class="omrs-input-underlined">
                      <input required>
                      <span class="omrs-input-label">Last Name</span>
                      <span class="omrs-input-helper">over than 8 characters</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"/></svg>
                    </label>
                  </div>
                      <div class="omrs-input-group">
                    <label class="omrs-input-underlined">
                      <input type="email" required>
                      <span class="omrs-input-label">Adress Email</span>
                      <span class="omrs-input-helper">sample@sample.com</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"/></svg>
                    </label>
                  </div>
              <div class="omrs-input-group">
                    <label class="omrs-input-underlined">
                      <input type="password" required>
                      <span class="omrs-input-label">Password</span>
                      <span class="omrs-input-helper">Must be min. 8 characters contain a number and an uppercase letter</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"/></svg>
                    </label>
                  </div>			
                  </div>
                  <!-- This button will submit the form, causing the page to redirect -->
                  <button class="button2">
                    Sign up
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                </form>
                </div>
               
               
              </div>
            </div>
            <div class="card">
                <div class="card_part card_part-one">
                </div>
                <!-- Photo 2 -->
                <div class="card_part card_part-two">           
                </div>            
                <!-- Photo 3 -->
                <div class="card_part card_part-three">
                </div>           
                <!-- Photo 4 -->
                <div class="card_part card_part-four">
                </div>           
            </div>
            <div id=present> 
                <aside class="callout">
                  <b>Get Coding👀</b>
                 Once you’ve decided what kind of work you want to get into, you’ll need to start learning the languages required for you to get the job done.
              
                </aside>             
                <aside class="callout warning">
                  <b> Hold up, wait a minute. ☝🏾</b>
              
                 There are plenty of tools online to help you learn the skills you need by yourself and on your own time. That said, if you’re trying to learn something like coding alone, there won’t be anyone to help you if you get stuck.
                </aside>
              
                <aside class="callout success">
                  <b> Success. You did it! 👏🏾 </b>
              
                 If you’re serious about getting into web development, you may want to consider taking an online web developer bootcamp.
                By taking a full course, you’ll have more resources at your disposal. So, you’ll be able to master your new craft that much quicker.
                </aside>
              </div>
            </div> 
    </main>
    <footer id="global-footer" > 
      <div id="footer">
        <a href="www.facebook.com"><span>Facebook</span></a>  
        <a href="www.twitter.com"><span>Twitter</span></a>
        <a href="www.google.com"><span>Google+</span></a>
        <a href="www.guithub.com"><span>Github</span></a>
        <a href="#"><span>CodePen</span></a>
      </div>
        <p   id="copyright"> site design / logo &copy;2020 Stack Exchange Inc; user contributions licensed </p>
      
      <a href="#Top"> <img src="../images/TOP.png" ></a>
     
    </footer>
   
  </body>
</html>