<!DOCTYPE html>
<html>
  <head> 
       <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
       <link rel="stylesheet" href="../CSS/styles.css"/>
       <link rel="stylesheet" href="../CSS/font-awesome.min.css"/>
       <link rel="stylesheet" href="../CSS/font-awesome.css"/> 
       <title> Web fundamentals  </title>
  </head>
  <body > 
    <div id="back">
      <!-- main -->
       <header id ="entete"> 
           <div class="logo"><img src="../images/logo.png" > </div>
              <h1 >Web fundamentals</h1>
              <nav id="menu">
                 <ul id="main">
                   <li> <a href="/" name="top">  Home </a></li>
                   <li><a href="How">The internet</a></li>
                   <li><a href="NeedtoBe">what do you need to be a developer ?</a></li
                   </li>
                 </ul>
               </nav> 
       </header>
    <!-- main -->
       <main > 
         <!-- nav -->
         <nav id="connect">        
           <div class="group">
             <input type="text" placeholder="Search.." class="search" >
             <input type="image" id="image" alt="search"
               src="../images/search.png" >
           </div>
          </nav> 
           </br>
           </br>
           <hr>
       
           <section>
            <!--for demo wrap-->
            <h1>ROLE OF WEB DEV </h1>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                  <th colspan="2" align="center"> What’s the role of a web developer</th>
              </tr>  
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
               <tr>
                  <td>    Program, test and debug all web applications.</td>
                  <td>    Design, develop, test and deploy web applications  </td>
              </tr>
              <tr>
                  <td> Code pages, files, test, debug and deploy. </td>
                  <td> Develop appropriate code structures to solve specific tasks. </td>
              </tr>
              <tr>
                  <td>   Coordinate with other designers and programmers to develop web projects. </td> 
                  <td> Collaborate with staff and teams to develop, format and deploy content.</td>
          
              </tr> 
                  
                
                 
                </tbody>
              </table>
              </section>
              
              
          
                

                 

                       
            
    

              
 
              </div>
            </div> 

         </main>
         <footer id="global-footer" > 
            <div id="footer">
              <a href="www.facebook.com"><span>Facebook</span></a>  
              <a href="www.twitter.com"><span>Twitter</span></a>
              <a href="www.google.com"><span>Google+</span></a>
              <a href="www.guithub.com"><span>Github</span></a>
              <a href="#"><span>CodePen</span></a>
            </div>
              <p id="copyright"> site design / logo &copy;2020 Stack Exchange Inc; user contributions licensed </p>      
            <a href="#Top"> <img src="../images/TOP.png" ></a>     
          </footer>   
  </body>
</html>